<!DOCTYPE html>
<html>
<head>
    <title>Life API - Documentation</title>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script>
    $(function() {
        $(document).on('click', 'h3, .method-summary', function(evt) {
            $(this).closest('div').children('div').toggleClass('hide');
        });
    });
    </script>
    <style>
        .method-label {
            width: 50px;
            text-align: center;
        }

        h3, .method-summary {
            cursor: pointer;
        }

        .methods > .alert {
            margin-bottom: 3px;
        }
    </style>
    <script><%
    var typeDisplayer = function(obj) {
        if (obj == Number) {
            return 'Number';
        } else if (obj instanceof ExtRegExp) {
            return obj.doc();
        } else if (obj == String || obj instanceof RegExp) {
            return 'String';
        } else if (obj == Boolean) {
            return 'Boolean';
        } else if (obj == Date) {
            return 'Date';
        } else if (obj instanceof LifeUpload) {
            return 'File';
        } if (typeof obj == 'function' && new obj() instanceof mongoose.Document) {
            return obj.modelName;
        }
    };

    var methodAlertClass = function(method) {
        var methodAlert = {
            'get': 'alert-info',
            'post': 'alert-success',
            'delete': 'alert-error',
        }

        if (methodAlert[method]) {
            return methodAlert[method];
        }

        return '';
    };

    var methodLabelClass = function(method) {
        var methodLabel = {
            'get': 'label-info',
            'post': 'label-success',
            'delete': 'label-important',
            'put': 'label-warning'
        }

        if (methodLabel[method]) {
            return methodLabel[method];
        }

        return '';
    };
    %></script>
</head>
<body>
    <div class="container">
    <h1>Life API - Documentation</h1>
    <h2>Models</h2>
    <h2>Methods</h2>
        <% for (var module in doc) { %>
        <div>
            <h3><%= module %></h3>
            <div>
            <% for (var i = 0; i < doc[module].length; i++) { %>
            <% var route = doc[module][i] %>
                <div class="methods">
                    <p class="alert method-summary <%= methodAlertClass(route['method']) %>">
                        <span class="label method-label <%= methodLabelClass(route['method']) %>"><%= route['method'].toUpperCase() %></span>
                        <strong><%= '/' + route['route'].split('/').splice(4).join('/') %></strong>
                        <span class="pull-right">
                            <%= route['doc'] %>
                            <span class="label <% if(route['private']) { %>label-success<% } %>" title="Private method"><i class="icon-eye-close icon-white"></i></span>
                            <span class="label <% if(route['auth']) { %>label-success<% } %>" title="Require auth"><i class="icon-user icon-white"></i></span>
                        </span>
                    </p>
                    <div class="method_details well hide">
                        <div class="input-prepend">
                                <strong class="add-on"><%= route['method'].toUpperCase() %></strong>
                                <input type="text" value="<%= route['route'] %>" disabled="disabled" class="span5">
                        </div>
                        <ul>
                            <% if (route['auth']) { %>
                                <li>Require authentification</li>
                            <% } %>
                            <% if (route['auth'] instanceof Array) { %>
                                <li>Require permissions <%= route['auth'].join(', ') %></li>
                            <% } %>

                            <% if(route['private']) { %>
                                <li>Private method</li>
                            <% } %>
                        </ul>


                        <% if (route['input']) { %>
                            <h3>Input</h3>
                            <% if (Object.keys(route['input']).length == 0) { %>
                                <span class="muted">No arguments</span>
                            <% } else { %>
                                <table class="table table-striped">
                                    <tr>
                                        <th>Param</th>
                                        <th>Type</th>
                                        <th>Required</th>
                                        <th>Default value</th>
                                        <th>Notes</th>
                                    </tr>

                                    <% for (var j in route['input']) { %>
                                    <tr>
                                        <th><%= j %></th>
                                        <td><%= typeDisplayer(route['input'][j].type) %><% if (typeof route['input'][j].type == 'function' && new route['input'][j].type() instanceof mongoose.Document) { %>
                                                ObjectId
                                            <% } %></td>
                                        <td><% if (typeof route['input'][j].required == 'undefined' || route['input'][j].required) { %><span class="muted">Required</span><% } %></td>
                                        <td><% if (typeof route['input'][j].default !== 'undefined') { %><%= route['input'][j].default %><% } else { %><span class="muted">None</span><% } %></td>
                                        <td>
                                            <% if (route['input'][j].type instanceof RegExp) { %>
                                                <code><%= route['input'][j].type.toString() %></code>
                                            <% } else if (route['input'][j].type instanceof ExtRegExp) { %>
                                                <code><%= route['input'][j].type.addon() %></code>
                                            <% } else if (route['input'][j].type instanceof LifeUpload) { %>
                                                <code>multipart/form-data is required to send files</code>
                                            <% } %>
                                        </td>
                                    </tr>
                                    <% } %>
                                </table>
                            <% } %>
                        <% } %>

                        <% if (route['output']) { %>
                            <h3>Output</h3>
                            <ul>
                                <li>
                                <% if (route['list']) { %>
                                    <strong>List of</strong>
                                <% } %>

                                <%= typeDisplayer(route['output']) %>
                                </li>
                            </ul>

                        <% } %>
                        <% if(route['errors'].length) { %>
                            <h3>Errors</h3>
                            <ul>
                            <% for (var k in route['errors']) { %>
                                <% var error = route['errors'][k] %>
                                <li><%= error.type %> <span class="muted"><%= error.http %></span></li>
                            <% } %>
                            </ul>
                        <% } %>
                    </div>
                </div>
            <% } %>
            </div>
        </div>
        <% } %>
    </div>
</body>
</html>